@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Press+Start+2P&display=swap');

@media (min-width:600px) {
    

}

#navbar {
    color: #D21312;
    width: 100%;
    height: 50px;
display: block;


}